// VARIABLE
$main-font : Roboto, sans-serif ;
$second-font : Shrikhand, sans-serif ;
$main-color : #9356DC;
$white : #FFFFFF ; 
$black: black ;

// MIXIN
@mixin box-shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
    width: 375px;
}
header {
    nav {
        margin-top: 30px;
        .arrow {
            color: #353535;
            size: 30px;
            position: relative;
            right: 70px;
        }
        img {
            width: 162px;
            padding-bottom: 20px;
        }
        .header {
            height: 50px;
            background-color: #EAEAEA;
            box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.2);
            i { 
                display: flex;
                padding-right: 17px;
            }
        }
    }
}

main { 
    .reserv { 
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #F6F6F6;
        .explorer {
            width: 275px;
            font-size: 18px;
            font-weight: bold;
            p {
                padding-top: 20px;
                font-size: 18px;
            }
            button {
                margin-top: 20px;
                border-radius: 40px;
                width: 218px;
                height: 50px;
                color: $white;
                background: #FC5C7D;
                background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D); 
                background: linear-gradient(to bottom, #6A82FB, #FC5C7D);
                border: 1px;
                border-color:$main-color;
                @include box-shadow;
                font-weight: 400;
            }
        }
    }
    .fonctionnement {
        margin-top: 40px;
        margin-bottom: 30px;
        h2 {
            margin-left: 20px;
        }
        .rond {
            width: 24px;
            height: 24px;
            background-color: $main-color;
            border-radius: 50%;
            position: relative;
            right: 40px;
            p {
                color: $white;
                position: relative;
                top: 2px;
            }
        }
        .fonc-button {
            background: transparent;
            padding-top: 30px;
            button {
                font-size: 16px;
                font-weight: 500;
                border-radius: 20px;
                border: 1px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                margin-bottom: 20px ;
                width: 322.49px;
                height: 72.38px;
                i {
                    padding-right: 20px;
               }
                h3 {
                    width: 211px;
                    height: 15.67px;
                    font-weight: 600;
                }
            }
        }
        
    }
    .restaurant {
        h2 {
            margin-bottom: 20px;
        }
        section {
            .rectangle {
                position: relative;
                bottom: 260px;
                left: 250px;
                width: 80px;
                height: 29px;
                background-color: #99E2D0;
                border-radius: 2px;
                @include box-shadow ;
                & p{
                    color: #008766;
                    size: 16px;
                    width: 61.37px;
                    padding-top: 10px;
                }
            }
            i{
                font-size: 20px;
                border: 1px;
                height: 21px;
                position: relative;
                left: 300px;
                bottom: 45px;
            }
            a{
                color: $black;
                text-decoration: none;
            }
            .card-restaurant {
                background-color: $white;
                border-radius: 20px;
                @include box-shadow;
                width: 346px;
                height: 271px;
                margin-bottom: 20px;
        
                img {
                    width: 346px;
                    height: 190px;
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                    margin-bottom: 10px;
                }

                h3, p {
                    margin-left: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.back-foot {
    background-color: #353535 ;
    footer {
        h3 {
            font-family: $second-font ;
            width: 137.58px;
            height: 27px;
            color: $white;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        p {
            color: $white;
            padding-left: 10px;
            i{
                padding-right: 10px;
            }
        }
    }
}