// VARIABLE
$main-font : Roboto, sans-serif ;
$second-font : Shrikhand, sans-serif ;
$main-color : #9356DC;
$white : #FFFFFF ; 
$black: black ;
$gradient : linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$desktop-width : 1440px;
$tablette-width : 1024px;
$mobile-width : 768px; 

// MIXIN
@mixin box-shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@mixin desktop  {
    @media (min-width : $desktop-width ) {
        @content;
    }
}

@mixin tablette {
    @media (min-width : $tablette-width) and (max-width : $desktop-width) {
        @content;
    } 
}

@mixin mobile {
    @media (max-width : $mobile-width) {
        @content;
    } 
}

body {
    width: 375px;
    @include desktop {
        width: 100% ;
    }
}

header {
    width: 375%;
    nav {
        .header {
            width: 375px;
            a {
                text-decoration: none;
                position: relative;
                bottom : 25px;
            }
            img {
                width: 162px;
            }
        }
    }
}



        
